body {
<<<<<<< HEAD
    background-color: rgb(70, 70, 68);
=======
    background-color: rgb(255, 255, 165);
    margin-left: 10%;
    margin-right: 10%;
>>>>>>> ad95b94acb18c93fb8b8dfe60672162d66816b4e
}

.image{
    border: 5px solid;
    border-radius: 10px;
    height: 400px;
    width: 350px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

